.about-word blockquote::before{
  content:"«" !important;
  color:var(--ochre);
  font-weight:300;
  margin-right:.06em;
}
.about-word blockquote::after{
  content:"»" !important;
  color:var(--ochre);
  font-weight:300;
  margin-left:.06em;
  display:inline !important;
}